<mat-sidenav-container class="sidenav-container">
    <!-- Sidebar -->
    <mat-sidenav #sidenav mode="side" opened class="sidenav">
        <!-- Arrow icon at the top of the sidebar -->

        <mat-nav-list>
            <a mat-list-item routerLink="/dashboard" class="nav-item" routerLinkActive="active-link">
                <div class="nav-item">
                    <span class="sidebar-label">Dashboard</span>
                    <div class="sidebar-icon">
                        <mat-icon>dashboard</mat-icon>
                    </div>
                </div>
            </a>
        </mat-nav-list>
    </mat-sidenav>



    <!-- Main content -->
    <mat-sidenav-content>
        <main class="main">
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>