<mat-sidenav-container class="sidenav-container">
    <!-- Sidebar -->
    <mat-sidenav #sidenav mode="side" opened class="sidenav">
        <mat-nav-list class="nav-list-override">
            <a mat-list-item routerLink="/dashboard" class="nav-item" routerLinkActive="active-link"
                (click)="updateHeader('Dashboard')">
                <div class="nav-item">
                    <span class="sidebar-label">Dashboard</span>
                    <div class="sidebar-icon">
                        <mat-icon>dashboard</mat-icon>
                    </div>
                </div>
            </a>

            <a mat-list-item routerLink="/workout" class="nav-item" routerLinkActive="active-link"
                (click)="updateHeader('Workout')">
                <div class="nav-item">
                    <span class="sidebar-label">Workout</span>
                    <div class="sidebar-icon">
                        <mat-icon>fitness_center</mat-icon>
                    </div>
                </div>
            </a>

            <a mat-list-item routerLink="/nutrition" class="nav-item" routerLinkActive="active-link"
                (click)="updateHeader('Nutrition')">
                <div class="nav-item">
                    <span class="sidebar-label">Nutrition</span>
                    <div class="sidebar-icon">
                        <mat-icon>local_dining</mat-icon>
                    </div>
                </div>
            </a>


            <a mat-list-item routerLink="/logout" class="nav-item logout" routerLinkActive="active-link"
                (click)="updateHeader('Logout')">
                <div class="nav-item">
                    <span class="sidebar-label">Logout</span>
                    <div class="sidebar-icon">
                        <mat-icon>exit_to_app</mat-icon>
                    </div>
                </div>
            </a>
        </mat-nav-list>
    </mat-sidenav>


    <mat-sidenav-content>
        <app-header [headerTitle]="headerTitle"></app-header>
        <main class="main">
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>