.sidenav-container {
    height: 100vh;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}


.sidenav {
    width: 120px;
    background-color: #1976d2;
    border-radius: 10px 0 0 10px;
    padding-top: 5px;
    padding-left: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* This will push the logout to the bottom */
    height: 100vh;
    /* Ensure full height */
}


.nav-list-override {
    height: 95vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: hidden;
}


.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 12px;
    margin-bottom: 10px;
    /* Add space between the items */
}

.nav-item.logout {
    margin-top: auto;
}

.sidebar-label {
    font-size: 12px;
    margin-top: 1px;
}

.nav-icon {
    font-size: 40px;
    color: white;
}

.mat-sidenav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.mat-list-item {
    font-size: 12px;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
}

.mat-list-item mat-icon {
    color: white;
    margin-right: 10px;
}

.mat-list-item:hover {
    background-color: #1976d2;
    color: white;
}

.mat-list-item:hover mat-icon {
    color: white;
}

.active-link {
    font-weight: bold;
    background-color: #1976d2;
    color: white;
}

.main {
    flex-grow: 1;
    padding: 10px;
    background-color: #f1f1f1;
    margin-left: 140px;
    /* Ensure the main content does not overlap with the sidebar */
    overflow: hidden;
    height: 100%;
}

.mat-sidenav-content {
    margin-left: 0 !important;
    overflow: hidden;
}

@media (max-width: 768px) {
    .sidenav {
        width: 200px;
        overflow: hidden;
    }
}